/* Colors:      */

html {
    background-color: #fff;
}

html,
#navbar-links > a {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
}

p,
ul,
ol,
li,
a {
    font-size: inherit;
    color: #fff;
}

p,
ul,
ol,
#tagline {
    width: 37em;
    max-width: 100%; /* ensures section will shrink if necessary */
}

h2 {
    width: 24.66em;
    max-width: 100%;
}

.section-content {
    font-size: .8rem;
}

.width-limiter {
    max-width: 800px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

h1,
h2 {
    text-transform: uppercase;
}

.section-content,
.width-limiter,
.cardbox,
ul,
p,
h2,
button {
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, 0),
            rgba(57, 32, 97, .4),
            rgba(57, 32, 97, .4),
            rgba(57, 32, 97, 0)),
        url('/img/mtg.jpg');
    background-position: 63% 20%;
    background-size: cover;
    padding-bottom: 5rem;
}


#navbar-wrapper {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;    
    width: 100%;
    background-color: #aa6373;
    opacity: .95;
}

#navbar {
    width: 1440px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: .4rem;
    flex-wrap: wrap;
}

#navbar-brand {
    display: block;
    font-family: 'Permanent Marker', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: .8rem;
    transform: rotate(-1.5deg);
    color: #fff;
}
#navbar-links-wrapper {
    display: flex;
    justify-content: center;
    width: 20rem;
    max-width: 100%;
}
#navbar-links {
    width: 100%;
    margin-top: .3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 15rem;
}

#navbar-links a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: .8rem;
}

#tagline {
    text-align: center;
    padding: 7rem 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.elevator-pitch {
    font-size: 1.15rem;
    font-weight: 400;
}

#call-to-action-top {
    text-align: center;
}

h2 {
    background-color: #031330;
    color: #fff;
    padding: 0.2rem;
}

.section-content,
footer {
    padding: 2rem 0.5rem;
}

.section-content>* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    font-size: 1.2rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
    padding: .6rem;
    text-transform: uppercase;
    background: rgb(155,88,154);
    background: radial-gradient(ellipse, rgba(155,88,154,1) 0%, rgba(126,24,125,1) 100%);
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}

button:hover {
    background: rgb(155,88,154);
    background: radial-gradient(ellipse, rgba(155,88,154,1) 0%, rgba(115,22,114,1) 100%);
}

strong {
    font-weight: 700;
}


.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1050px;
    max-width: 100%;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 10rem;
    text-align: left;
    margin: 1rem;
    color: #fff;
}

.card > h3 {
    text-align: center;
}

#vision-inner {
    display: flex;
    margin: 1rem;
}
section.vision .section-content {
    display: inline-block;
    /* background-color: #031330; */
    padding: .5rem;
}

section.vision p,
section.vision ul,
section.vision li,
section.vision {
    color: #000;
}
section.vision h2 {
    background-color: #031330;
    color: #fff;
}

.values {
    background-color: #aa6367;
    background:
        linear-gradient(rgba(57, 32, 97, .9),
            rgba(57, 32, 97, .9)),
        url('/img/columbus-panorama.jpg');
    background-position: center center;
    background-size: cover;
}

.values h2 {
    background-color: initial;
    padding: 0;
}

.value-icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
}

.updates-form__list {
    list-style-type: none;
}

footer {
    background-color: #001c51;
    padding: 1rem 0rem;
    text-align: center;
    color: #999;
    font-size: .6rem;
}

@media only screen and (min-width: 380px) {
    #navbar-links > a {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 680px) {
    #navbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0.4rem 2rem 0.4rem 2rem;
    }

    #navbar-links-wrapper {
        justify-content: flex-end;
    }

    #navbar-links {
        margin-top: 0;
        width: 12rem;
    }

    #navbar-links > a {
        font-size: 0.8rem;
    }

    .section-content,
    footer {
        padding: 2rem 2rem;
    }
}

@media only screen and (min-width: 800px) {
    #navbar-links {
        width: 15rem;
    }
    
    #navbar-links > a{
        font-size: 1rem;
    }

    #navbar-brand {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1200px) {


}

@media only screen and (min-width: 1900px) {
    .cardbox {
        width: 1800px;
    }
}
/*
!!!!!!!!!!!!!!!!!



TODO: Fix header on screens larger than 600px wide to be a single row



!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/